.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eef5f5; 
    padding: 20px 30px;
    border-radius: 10px;
}

.text h1 {
    margin: 0;
    font-size: 30px;
    font-weight: 900;
    color: #00173D;
}

.text p {
    margin: 5px 0 0;
    font-size: 25px;
    margin-top: 20px;
    font-weight: bold;
    color: #00173D;
}

.icons {
    display: flex;
    gap: 20px;
}

.icons img {
    width: 22px;
    height: 22px;
    cursor: pointer;
}
