.container {
  width: 100%;
}

.header {
  margin-bottom: 30px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.header h1 {
  font-size: 1.8rem;
  color: #061a3a;
  margin: 0;
}

.createBtn {
  background-color: #0b6a6f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.createBtn:hover {
  background-color: #084d51;
}

.header p {
  color: #64748b;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  width: 100%;
}

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card:hover {
  transform: translateY(-4px);
}

.imageWrapper {
  position: relative;
  height: 160px;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoryBadge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #0b6a6f;
  color: white;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.65rem;
  font-weight: 700;
}

.cardContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.courseTitle {
  font-size: 1.1rem;
  font-weight: 700;
  color: #061a3a;
  margin-bottom: 10px;
}

.description {
  font-size: 0.85rem;
  color: #64748b;
  margin-bottom: 15px;
  min-height: 40px;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #94a3b8;
  margin-bottom: 20px;
}

.btnGroup {
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.enrollBtn {
  flex: 2;
  background-color: #0b6a6f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
}

.enrollBtn:disabled {
  background-color: #cbd5e1;
  color: #061a3a;
}

.deleteBtn {
  flex: 1;
  background-color: #cbd5e1;
  color: #061a3a;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.3s;
}

.deleteBtn:hover {
  background-color: #ff4d4d;
  color: white;
}

.loading {
  text-align: center;
  padding: 50px;
}