.container { 
    display: flex; min-height: 100vh; background: #eef5f7; 
}

.main { 
    flex: 1; padding: 20px 30px; 
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner {
    width: 100%;
    max-width: 1050px; 
    border-radius: 20px;
    object-fit: contain;
    margin-bottom: 20px;
}


.cards { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-bottom: 25px; 
}

.progressGrid { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}